html {
  font-size: 14px;
}

a {
    text-decoration: none;
    color : black
}

a:hover {
    /*text-decoration: underline;*/ /* ou none, selon votre préférence */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8; /* couleur de fond, à modifier si nécessaire */
    padding: 10px 20px;
}

.logo {
    flex : 2;
    margin-left: 10px;
    font-size: 40px;
    font-family: "Big Shoulders Inline", sans-serif;
}

    .logo a {
        color: #590300;
    }

.navigation {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: end;
}

.menu-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-list ul li {
    margin-right: 20px;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
}

.menu-list ul li:last-child {
    margin-right: 0;
}

.menu-list a:hover {
    text-decoration: none;
    color: #590300;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.inscription,
.connexion {
    width: 150px;
    height: 30px;
    border-radius: 20px;
    margin-left: 10px;
    display: flex;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
}

.inscription {
    background-color: rgb(89, 3, 0, 0.78);
}

    .inscription a {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding-top: 2px;
        text-decoration: none;
        color: antiquewhite;
    }

    .inscription:hover {
        background-color: rgb(89, 3, 0, 1);
    }

.connexion {
    background-color: rgb(89, 3, 0, 0.78);
}

    .connexion a {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding-top: 2px;
        text-decoration: none;
        color: antiquewhite;
    }

    .connexion:hover {
        background-color: rgb(89, 3, 0, 1);
    }

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.5)), url("/Ressources/images/img02.jpeg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
    color: #fff;
}

.banner{
    margin: 20px     40px
}

.wrapper span {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
}

.wrapper h1 {
    margin: 0;
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
}

.btn-slogan {
    margin: 2vh 20vh;
    height: 5vh;
    background-color: rgb(89, 3, 0, 0.6);
    font-family: "Open Sans", sans-serif;
    align-content: center;
    border-radius: 5px;
}

    .btn-slogan:hover {
        background-color: rgb(89, 3, 0, 1);
    }

    .btn-slogan a {
        display: block;
        align-content: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: antiquewhite;
    }

    .description{
        display: flex;
    }

    .desc{
        width: 100vh;
        margin: 20px 40px
    }

        .desc h1 {
            font-family: "Open Sans", sans-serif;
            font-size: 40px
        }
        
        .desc p {
            font-family: "Open Sans", sans-serif;
            font-size: 20px
        }

.imgdesc {
     padding: 68px 0;
}
        .imgdesc img{
            width: 70vh;
            height: 55vh;
        }

.footer {
   
}
/*----------------------------------------------------------Dashboard--------------------------------------------------------------------*/
/* Conteneur global du dashboard */
.dashboard-container {
    display: flex;
    min-height: 100vh;
}

/* HEADER */
.header {
    background: #5D001E; /* Rouge foncé */
    color: white !important;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .header .logo-dash {
        color: white !important;
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
    }

.header-left a{
    color: white;
    flex: 1;
}

.header-right {
    text-align: right;
}

.header .logout {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding-right: 20px;
}

header .logo-dash:visited,
.header .logo-dash:active,
.header .logo-dash:hover {
    color: white !important;
    text-decoration: none;
}

/* Sidebar */
#sidebar {
    background: #5d0010; /* Rouge bordeaux */
    width: 250px;
    height: 100vh;
    position: fixed;
    padding-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil {
    width: 70%;
    display: flex;
    flex-direction: column;
}

    .profil p, h5 {
        display: flex;
        justify-content: center;
    }
/*.sidebar {
    width: 100px;
    background-color: #f8f9fa;
    padding: 20px;
}

    .sidebar h3 {
        margin-top: 0;
        padding-left: 20px;
    }

    .sidebar ul {
        list-style: none;
        padding-left: 0;
    }

        .sidebar ul li {
            margin-bottom: 10px;
            transition: background-color 0.2s, border-color 0.2s;
        }

            .sidebar ul li a {
                display: flex;
                width: 100%;
                height: 100%;
                padding-top: 2px;
                padding-left: 5px;
                text-decoration: none;
                color: #333;
                font-weight: 500;
            }

            .sidebar ul li:hover {
                background-color: rgb(89, 3, 0, 0.78);
                border-radius: 2px;
            }

            .sidebar ul li a:hover {
                color: antiquewhite;
            }*/


            /* Main Content */
            .main-content {
                flex: 1;
                padding: 20px;
                background-color: #fff;
            }


/* Style des liens du menu */
.sidebar-menu {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

    .sidebar-menu li {
        padding: 15px;
    }

        .sidebar-menu li a {
            color: #ddd;
            text-decoration: none;
            display: block;
            font-weight: bold;
            font-size: 16px;
        }

            .sidebar-menu li a:hover {
                background: #a52a2a; /* Rouge foncé */
                color: #fff;
                border-radius: 5px;
            }


/* Section principale */
#main-content {
    margin-left: 260px;
    padding: 20px;
}

.main-content {
    margin-left: 260px;
    padding: 20px;
    width : 100%;
}

.row {
    width : 100%;
    display: flex;
    flex-direction: row;
    justify-content : space-between;
}

/* Style des catégories de tâches */
h4.text-center {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    font-size: 18px;
    text-transform: uppercase;
    background: #ffcccc;
}

h4.danger {
    background: #ffcccc;
}

h4.warning {
    background: #fff0b3;
}

h4.success {
    background: #d4edda;
}

/* Board View */
.board {
    display: flex;
    flex-direction : row;
    gap: 20px;
}

/* Chaque colonne du board */
.board-column {
    flex: 1;
    width : 100px;
    /*    background-color: #e9ecef;*/ 
/*        background-color: #ffcccc;*/
    padding: 15px;
    border-radius: 5px;
    overflow-y: auto; /* Pour défiler si le contenu est long */
}

    .board-column h4 {
        text-align: center;
        margin-bottom: 15px;
    }

/* Items dans une colonne */
.board-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/*----------------------------------------------------------Create project--------------------------------------------------------------------*/


.create-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
}

.create-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    padding: 40px;
}
    .create-container h2 {
        text-align: center;
    }

    .create-container label {
        font-weight: 500;
        margin-bottom: 5px;
        display: block;
    }

    /*.create-container textarea {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
    }*/
    .form-group label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .create-container input[type="text"],
    .create-container input[type="date"],
    .create-container textarea {
        width: 80%;
        padding: 12px 15px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .create-container .form-group {
        margin-bottom: 20px;
    }

/*.create-container .btn-register {
        width: 100%;
        background: rgb(119, 3, 0, 0.78);
        color: #fff;
        border: none;
        padding: 12px;
        border-radius: 25px;
        font-size: 16px;
        transition: background 0.3s ease;
        cursor: pointer;
    }

        .create-container .btn-register:hover {
            background: rgb(69, 3, 0, 0.78);
        }

    .create-container .login-link {
        text-align: center;
        margin-top: 15px;
    }

        .create-container .login-link a {
            color: rgb(119, 3, 0, 0.78);
            text-decoration: none;
            font-size: 14px;
        }

        input[type="radio"] + label {
            display: inline;
        }*/

.btn-success {
    color: antiquewhite;
    background-color: rgb(89, 3, 0, 0.78);
    margin: 20px auto;
    display: block;
    /*border: 1px solid #28a745;*/
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    /*cursor: pointer;*/
    transition: background-color 0.2s, border-color 0.2s;
}

    .btn-success:hover {
        background-color: rgb(89, 3, 0, 1);
        /*border-color: #1e7e34;*/
    }
/* Validation errors */
.text-danger {
    font-size: 0.9rem;
    margin-top: 5px;
}
    /*----------------------------------------------------------A revoir--------------------------------------------------------------------*/
    @media (min-width: 768px) {
        html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*----------------------------------------------------------Fin : A revoir--------------------------------------------------------------------*/


